In [2]:
#Importing all the Libraries For original_data analysis and Graphs
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
#Storing the Dataset into Pandas Dataframe
original_data = pd.read_csv("credit_card_test.csv")

In [4]:
#Rows of the Dataset
original_data

,avg_amount_days,transaction_amount,daily_chbk_avg_amt,avg_chbk_amt,chbk_freq,is_fradulent
0,100.0,3000.0,0,0.0,0,1
1,100.0,4300.0,0,0.0,0,1
2,185.5,4823.0,0,0.0,0,1
3,185.5,5008.5,0,0.0,0,1
4,500.0,26000.0,800,677.2,6,1
...,...,...,...,...,...,...
3070,500.0,11000.0,754,585.0,7,0
3071,800.0,0.0,754,585.0,7,0
3072,800.0,20800.0,754,585.0,7,0
3073,1500.0,12000.0,754,585.0,7,0
3074,1500.0,36000.0,754,585.0,7,0

In [5]:
# Dataset Information
original_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3075 entries, 0 to 3074
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   avg_amount_days     3075 non-null   float64
 1   transaction_amount  3075 non-null   float64
 2   daily_chbk_avg_amt  3075 non-null   int64
 3   avg_chbk_amt        3075 non-null   float64
 4   chbk_freq           3075 non-null   int64
 5   is_fradulent        3075 non-null   int64
dtypes: float64(3), int64(3)
memory usage: 144.3 KB

In [6]:
#Checking for NULL VALUES
original_data.isnull().sum()

avg_amount_days       0
transaction_amount    0
daily_chbk_avg_amt    0
avg_chbk_amt          0
chbk_freq             0
is_fradulent          0
dtype: int64

In [7]:
#Counting Fraud and Normal Transaction
original_data["is_fradulent"].value_counts()
# 0 represents Normal Transactions
# 1 represents Fraud Transactions

0    2627
1     448
Name: is_fradulent, dtype: int64

In [8]:
# Seperating the data based on Fraud and Normal for analysis of the two
normal = original_data[original_data.is_fradulent == 0]
fraud = original_data[original_data.is_fradulent == 1]

ANALYSIS OF DATA

In [9]:
# comparing the values for both transactions based on mean
original_data.groupby("is_fradulent").mean()

,avg_amount_days,transaction_amount,daily_chbk_avg_amt,avg_chbk_amt,chbk_freq
is_fradulent,,,,,
0,512.193677,7662.995957,22.807766,15.824134,0.108108
1,531.637946,22855.440603,248.832589,181.917187,2.055804

In [10]:
# Description of Normal Data based on Transaction Amount
print(normal.transaction_amount.describe())
print(normal.avg_amount_days.describe())

count     2627.000000
mean      7662.995957
std       6869.468187
min          0.000000
25%       1997.915000
50%       5589.460000
75%      11752.525000
max      36000.000000
Name: transaction_amount, dtype: float64
count    2627.000000
mean      512.193677
std       286.729617
min         4.010000
25%       269.090000
50%       503.780000
75%       764.635000
max      1500.000000
Name: avg_amount_days, dtype: float64

In [11]:
# Description of Fraudulent Data based on Transaction Amount
print(fraud.transaction_amount.describe())
print(fraud.avg_amount_days.describe())

count       448.000000
mean      22855.440603
std       15217.912436
min         257.900000
25%       11582.060000
50%       20944.745000
75%       32409.355000
max      108000.000000
Name: transaction_amount, dtype: float64
count     448.000000
mean      531.637946
std       320.431608
min         7.410000
25%       272.562500
50%       500.005000
75%       775.340000
max      2000.000000
Name: avg_amount_days, dtype: float64

Splitting the dataset into Features and Targets

In [12]:
X = original_data.drop(columns="is_fradulent" , axis=1)
Y = original_data["is_fradulent"]

In [13]:
print(X)

      avg_amount_days  transaction_amount  daily_chbk_avg_amt  avg_chbk_amt  \
0               100.0              3000.0                   0           0.0
1               100.0              4300.0                   0           0.0
2               185.5              4823.0                   0           0.0
3               185.5              5008.5                   0           0.0
4               500.0             26000.0                 800         677.2
...               ...                 ...                 ...           ...
3070            500.0             11000.0                 754         585.0
3071            800.0                 0.0                 754         585.0
3072            800.0             20800.0                 754         585.0
3073           1500.0             12000.0                 754         585.0
3074           1500.0             36000.0                 754         585.0

      chbk_freq
0             0
1             0
2             0
3             0
4             6
...         ...
3070          7
3071          7
3072          7
3073          7
3074          7

[3075 rows x 5 columns]

In [14]:
print(Y)

0       1
1       1
2       1
3       1
4       1
       ..
3070    0
3071    0
3072    0
3073    0
3074    0
Name: is_fradulent, Length: 3075, dtype: int64

In [15]:
# importing the librairies for splitting the data
from sklearn.model_selection import train_test_split

In [16]:
# Splitting the data into training data and testing data
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [17]:
print(X.shape, x_train.shape, x_test.shape)

(3075, 5) (2460, 5) (615, 5)

MODEL TRAINING with Logistic Regression

In [18]:
# importing the libraries for training the model
from sklearn.linear_model import LogisticRegression

In [19]:
model = LogisticRegression()

In [20]:
# training the model with logistic regression
model.fit(x_train,y_train)

C:\Users\agarw\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()